.weather{
    left: 50%;
    padding: 2px;
    width: 400px;
    height: fit-content;
    background-color: rgb(215, 232, 255);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    border: 2px solid rgb(125, 119, 249);
    border-radius: 20px;
}